html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.container {
  min-height:100%;
  position:relative;
}

.top{
 height: 50px;
}

.header {
  padding:10px;
  position:fixed;
  border: 1px solid #c9c4c4;
  background:white;
  top: 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: inline-block;
  width: 70%;
}

.title h1{
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
}

.content {
  padding:18px;
  margin: 15px 10px 10px 10px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  border: 1px solid #c9c4c4;
  border-radius: 8px;
}

.cardtitle, .author, .date {
  margin: 0;
}

.cardtitle{
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.author, .date{
  font-family: Liberation Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
}

.cardimage {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  max-width: 100%;
}

.description{
  margin: 0;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.lastgap{
  height: 45px;
}

.footer {
  position:fixed;
  bottom:0;
  border: 1px solid #c9c4c4;
  left: 0;
  width:100%;
  height: 40px;
  background:white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.footer li {
  display: inline-flex;
  list-style-type: none;
  padding: 10px 30px 15px 30px;

}